/* profile.css */
.user-icon svg {
    width: 48px;
    /* Adjust size of user icon */
    height: 48px;
    /* Adjust size of user icon */
    fill: #5c6bc0;
    /* Color of user icon */
}

.card-title {
    color: #5c6bc0;
    /* Color of user name */
}

.card-text {
    color: #333;
    /* Color of email address */
}

.btn-primary {
    background-color: #5c6bc0;
    /* Button background color */
    border: none;
}

.btn-primary:hover {
    background-color: #7986cb;
    /* Button hover background color */
}

.custom-link {
    color: #6c757d;
    /* Gray color */
    text-decoration: none;
    /* Remove underline */
}